/* Define a color scheme */
:root {
  --black: #222;
  --blue: #011566;
  --gray: #cdd6dd;
  --green-hover: #07b3a1;
  --dark-green: #013440;
  --dark-green-active: #013440;
  --dark-green-hover: #036075;
  --aqua: #04adbf;
  --green: #038c7f;
  --green-active: #027267;
}

* {
  box-sizing: border-box;
}
h1 {
  color: var(--dark-green);
  font-family: 'Merriweather', cursive;
  font-size: 5em;
  /* color: var(--gray); */
  color: papayawhip;
  margin-top: 40px;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #355c7d;
  padding: 0;
  margin: 0;
}
section {
  margin-top: 20px;
  width: 400px;
}
.calc {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--black);
  color: papayawhip;
  margin: 0px;
  padding: 0px;
}
.keypad {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
}
.hide {
  opacity: 0;
}
.cursor {
  margin: 3px;
  padding: 0px;
}
.display {
  min-height: 60px;
  background-color: var(--black);
  border-bottom: none;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  text-align: right;
  font-size: 2.5em;
  font-family: 'Roboto Mono', cursive;
  flex-direction: row-reverse;
  padding: 20px 5px;
}
.row {
  margin: 0;
  margin-bottom: 0.5%;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  width: 100%;
}
.key.last {
  background-color: var(--dark-green);
}
.key.last:hover {
  background-color: var(--dark-green-hover);
}
.key.last:active {
  background-color: var(--dark-green-active);
}

.key {
  border: none;
  border-radius: 0;
  width: 24.5%;
  font-size: 2em;
  text-decoration: none;
  margin: 0;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  font-family: 'Roboto Mono', cursive;
  cursor: pointer;
  text-align: center;
  color: papayawhip;
}
.key:hover {
  background-color: var(--green-hover);
}
.key:active {
  background-color: var(--green-active);
}
.key.clear {
  width: 49.7%;
}
.key.zero {
  width: 74.8%;
}
